Source: ros-kinetic-joint-state-publisher
Section: misc
Priority: extra
Maintainer: Chris Lalancette <clalancette@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-rostest
Homepage: http://www.ros.org/wiki/joint_state_publisher
Standards-Version: 3.9.2

Package: ros-kinetic-joint-state-publisher
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-python-qt-binding, ros-kinetic-rospy, ros-kinetic-sensor-msgs
Description: This package contains a tool for setting and publishing joint state values for a given URDF.
